In [104]:
# Import dependencies
import pandas as pd
from pyxlsb import open_workbook

import requests
import json

from config import eia_api_key

# Extract Data Into DataFrames

### Data 1: Irena.org Dataset on Electricity Installed Capacity (MW)

In [2]:
# Import data file
irena_eic_file = "data/IRENA_Stats_Tool.xlsb"

irena_eic_df = []
with open_workbook (irena_eic_file) as wb:
     with wb.get_sheet("Data") as sheet:
        for row in sheet.rows():
            irena_eic_df.append([item.v for item in row])

irena_eic_df = pd.DataFrame(irena_eic_df[8:], columns=irena_eic_df[5])
irena_eic_df.head()

,Region,Country,ISO Code,RE or Non-RE,Group Technology,Technology,Poducer Type,Year,Electricity Installed Capacity (MW),,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Africa,Algeria,DZA,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,2018.0,21308.0,None,...,None,None,None,None,None,None,None,None,None,None
1,Africa,Algeria,DZA,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,2019.0,23508.0,None,...,None,None,None,None,None,None,None,None,None,None
2,Africa,Algeria,DZA,Total Renewable,Hydropower (excl. Pumped Storage),Renewable hydropower,On-grid,2018.0,228.0,None,...,None,None,None,None,None,None,None,None,None,None
3,Africa,Algeria,DZA,Total Renewable,Hydropower (excl. Pumped Storage),Renewable hydropower,On-grid,2019.0,228.0,None,...,None,None,None,None,None,None,None,None,None,None
4,Africa,Algeria,DZA,Total Renewable,Solar energy,Concentrated solar power,On-grid,2018.0,25.0,None,...,None,None,None,None,None,None,None,None,None,None

### Data 2 (1): bp.com Dataset on Energy Consumption (Exajoules)

In [3]:
# Import data file
bp_pe_file = "data/bp-stats-review-2020-all-data.xlsx"

bp_pe = pd.read_excel(bp_pe_file, "Primary Energy Consumption", engine="openpyxl")

# Rename the columns with value from the second row
bp_pe_rename = bp_pe.rename(columns=bp_pe.iloc[1])
bp_pe_rename.head()

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.99365,13.936678,14.109482,14.349534,14.214058,-0.00944118,0.00640355,0.0243434,NaN,NaN
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.68830,7.785419,7.895341,7.833322,7.720742,-0.0143718,0.00905657,0.0132227,NaN,NaN

### Data 2 (2): bp.com Dataset on Renewables Consumption (Exajoules)

In [68]:
# Import data file
bp_rc_file = "data/bp-stats-review-2020-all-data.xlsx"

bp_rc = pd.read_excel(bp_rc_file, "Renewables Consumption - EJ", engine="openpyxl")

# Rename the columns with value from the second row
bp_rc_rename = bp_rc.rename(columns=bp_rc.iloc[1])
bp_rc_rename.head()

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.437742,0.488314,0.492008,0.503491,0.523399,0.0395406,0.134528,0.0180629,NaN,NaN
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.157067,0.170452,0.184147,0.216463,0.345292,0.595155,0.102784,0.0119163,NaN,NaN

 ### Data 3: wesr.unep.org Dataset on GHG Emission

In [85]:
# Import data file
unep_file = "data/wesr_unep_GHGemission.csv"

unep_df = pd.read_csv(unep_file, skiprows=3)
unep_df.head()

,INDICATOR NAME (unit),COUNTRY NAME,YEAR,VALUE
0,Greenhouse gas (GHG) emissions from agricultur...,China,1961,254109.75
1,Greenhouse gas (GHG) emissions from agricultur...,China,1962,256115.15
2,Greenhouse gas (GHG) emissions from agricultur...,China,1963,267398.78
3,Greenhouse gas (GHG) emissions from agricultur...,China,1964,288531.02
4,Greenhouse gas (GHG) emissions from agricultur...,China,1965,301524.32

 ### Data 4: eia.gov API Dataset on CO2 Emission, Renewable Electricity Net Generation, & Population

#### China CO2 Emission

In [105]:
# Building query URL
china_co2_query_url = f"http://api.eia.gov/series/?api_key={eia_api_key}&series_id=INTL.4008-8-CHN-MMTCD.A"

In [106]:
# Get the info from JSON response
co2_response = requests.get(china_co2_query_url).json()

# Get the data to display for creating call format
print(json.dumps(co2_response, indent=4, sort_keys=False))

{
    "request": {
        "command": "series",
        "series_id": "INTL.4008-8-CHN-MMTCD.A"
    },
    "series": [
        {
            "series_id": "INTL.4008-8-CHN-MMTCD.A",
            "name": "CO2 emissions, China, Annual",
            "units": "million metric tonnes carbon dioxide",
            "f": "A",
            "copyright": "None",
            "source": "EIA, U.S. Energy Information Administration",
            "geography": "CHN",
            "start": "1980",
            "end": "2018",
            "updated": "2020-12-16T10:43:39-0500",
            "data": [
                [
                    "2018",
                    10633.716109407
                ],
                [
                    "2017",
                    10431.664013179
                ],
                [
                    "2016",
                    10433.034096167
                ],
                [
                    "2015",
                    10457.195827419
                ],
                [
                    "2014",
                    10648.294608656
                ],
                [
                    "2013",
                    10728.73819819
                ],
                [
                    "2012",
                    10359.851465534
                ],
                [
                    "2011",
                    9783.475663147
                ],
                [
                    "2010",
                    8823.472430909
                ],
                [
                    "2009",
                    8191.334981616
                ],
                [
                    "2008",
                    7511.311382165
                ],
                [
                    "2007",
                    7064.571038563
                ],
                [
                    "2006",
                    6765.275749374
                ],
                [
                    "2005",
                    6128.164339414
                ],
                [
                    "2004",
                    5399.892999976
                ],
                [
                    "2003",
                    4461.766681845
                ],
                [
                    "2002",
                    3852.813339667
                ],
                [
                    "2001",
                    3610.064947945
                ],
                [
                    "2000",
                    3478.182054948
                ],
                [
                    "1999",
                    3245.106305264
                ],
                [
                    "1998",
                    3119.938572875
                ],
                [
                    "1997",
                    3127.282459467
                ],
                [
                    "1996",
                    3229.26518847
                ],
                [
                    "1995",
                    3134.267649552
                ],
                [
                    "1994",
                    2905.818629346
                ],
                [
                    "1993",
                    2719.521146652
                ],
                [
                    "1992",
                    2526.379197243
                ],
                [
                    "1991",
                    2444.874871725
                ],
                [
                    "1990",
                    2625.623739136
                ],
                [
                    "1989",
                    2399.396016489
                ],
                [
                    "1988",
                    2404.819506393
                ],
                [
                    "1987",
                    2256.899253223
                ],
                [
                    "1986",
                    2133.759256806
                ],
                [
                    "1985",
                    2060.287084662
                ],
                [
                    "1984",
                    1947.119365203
                ],
                [
                    "1983",
                    1784.999565524
                ],
                [
                    "1982",
                    1670.253074183
                ],
                [
                    "1981",
                    1586.506160497
                ],
                [
                    "1980",
                    1595.966030438
                ]
            ]
        }
    ]
}

# Transform Data

### Data 1: Irena.org Dataset on Electricity Installed Capacity (MW)

In [4]:
# Get coloumns 
irena_eic_df.columns

Index([                             'Region',
                                   'Country',
                                  'ISO Code',
                              'RE or Non-RE',
                          'Group Technology',
                                'Technology',
                              'Poducer Type',
                                      'Year',
       'Electricity Installed Capacity (MW)',
                                          '',
                                          '',
                                          '',
                                          '',
                                        None,
                                        None,
                                        None,
                                        None,
                                        None,
                                        None,
                                        None,
                                        None],
      dtype='object')

In [48]:
# Extract wanted columns
eic_cols = ['Country','Year','RE or Non-RE','Group Technology','Technology','Poducer Type','Electricity Installed Capacity (MW)']
eic_countries = irena_eic_df[eic_cols].copy()
eic_countries.head()

,Country,Year,RE or Non-RE,Group Technology,Technology,Poducer Type,Electricity Installed Capacity (MW)
0,Algeria,2018.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,21308.0
1,Algeria,2019.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,23508.0
2,Algeria,2018.0,Total Renewable,Hydropower (excl. Pumped Storage),Renewable hydropower,On-grid,228.0
3,Algeria,2019.0,Total Renewable,Hydropower (excl. Pumped Storage),Renewable hydropower,On-grid,228.0
4,Algeria,2018.0,Total Renewable,Solar energy,Concentrated solar power,On-grid,25.0

In [49]:
# Drop rows with empty values
eic_countries.dropna()

,Country,Year,RE or Non-RE,Group Technology,Technology,Poducer Type,Electricity Installed Capacity (MW)
0,Algeria,2018.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,21308.00
1,Algeria,2019.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,23508.00
2,Algeria,2018.0,Total Renewable,Hydropower (excl. Pumped Storage),Renewable hydropower,On-grid,228.00
3,Algeria,2019.0,Total Renewable,Hydropower (excl. Pumped Storage),Renewable hydropower,On-grid,228.00
4,Algeria,2018.0,Total Renewable,Solar energy,Concentrated solar power,On-grid,25.00
...,...,...,...,...,...,...,...
2968,Venezuela,2019.0,Total Renewable,Solar energy,Off-grid Solar photovoltaic,Off-grid,3.00
2969,Venezuela,2018.0,Total Renewable,Solar energy,On-grid Solar photovoltaic,On-grid,1.00
2970,Venezuela,2019.0,Total Renewable,Solar energy,On-grid Solar photovoltaic,On-grid,2.32
2971,Venezuela,2018.0,Total Renewable,Wind energy,Onshore wind energy,Off-grid,71.28
2972,Venezuela,2019.0,Total Renewable,Wind energy,Onshore wind energy,Off-grid,71.28

#### Extracting data from my selected three countries: China, Germany, and United States

In [50]:
# Extracting China's data
# Reset index to "Country"
eic_china = eic_countries[eic_countries["Country"]=="China"]
eic_china.set_index("Country", inplace=True)
eic_china.head()

,Year,RE or Non-RE,Group Technology,Technology,Poducer Type,Electricity Installed Capacity (MW)
Country,,,,,,
China,2018.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,1126270.000
China,2019.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,1168004.147
China,2018.0,Total Non-Renewable,Nuclear,Nuclear,On-grid,44660.000
China,2019.0,Total Non-Renewable,Nuclear,Nuclear,On-grid,48740.000
China,2018.0,Total Non-Renewable,Other non-renewable energy,Other non-renewable energy,On-grid,4575.000

In [51]:
# Extracting Germany's data
# Reset index to "Country"
eic_germany = eic_countries[eic_countries["Country"]=="Germany"]
eic_germany.set_index("Country", inplace=True)
eic_germany.head()

,Year,RE or Non-RE,Group Technology,Technology,Poducer Type,Electricity Installed Capacity (MW)
Country,,,,,,
Germany,2018.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,91415.0
Germany,2019.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,91991.0
Germany,2018.0,Total Non-Renewable,Nuclear,Nuclear,On-grid,10799.0
Germany,2019.0,Total Non-Renewable,Nuclear,Nuclear,On-grid,10799.0
Germany,2018.0,Total Non-Renewable,Other non-renewable energy,Other non-renewable energy,On-grid,2332.0

In [52]:
# Extracting USA's data
# Reset index to "Country"
eic_usa = eic_countries[eic_countries["Country"]=="United States"]
eic_usa.set_index("Country", inplace=True)
eic_usa.head()

,Year,RE or Non-RE,Group Technology,Technology,Poducer Type,Electricity Installed Capacity (MW)
Country,,,,,,
United States,2018.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,750619.0
United States,2019.0,Total Non-Renewable,Fossil fuels,Fossil fuels,On-grid,743307.0
United States,2018.0,Total Non-Renewable,Nuclear,Nuclear,On-grid,99629.0
United States,2019.0,Total Non-Renewable,Nuclear,Nuclear,On-grid,98266.3
United States,2018.0,Total Non-Renewable,Other non-renewable energy,Other non-renewable energy,On-grid,3292.5

### Data 2 (1): bp.com Dataset on Energy Consumption (Exajoules)

In [53]:
# Extract wanted columns
bp_ec_countries = bp_pe_rename.copy()
bp_ec_countries.head()

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.99365,13.936678,14.109482,14.349534,14.214058,-0.00944118,0.00640355,0.0243434,NaN,NaN
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.68830,7.785419,7.895341,7.833322,7.720742,-0.0143718,0.00905657,0.0132227,NaN,NaN

In [54]:
# Renaming the same name columns (2019) by creating specific name columns and duplicating the according data row
bp_ec_countries ["2019_share"] = bp_ec_countries.iloc [:,58]
bp_ec_countries ["2019_growth_rate_per_annum"] = bp_ec_countries.iloc [:,56]
bp_ec_countries ["2019_year"] = bp_ec_countries.iloc[:,55]
bp_ec_countries

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2018.0,2019.0,2019,2008-18,2019,NaN,NaN,2019_share,2019_growth_rate_per_annum,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN,Share,Growth rate per annum,NaN
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN,2019,2019,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,14.349534,14.214058,-0.00944118,0.00640355,0.0243434,NaN,NaN,0.0243434,-0.00944118,14.214058
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.833322,7.720742,-0.0143718,0.00905657,0.0132227,NaN,NaN,0.0132227,-0.0143718,7.720742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# # Get a list of the column names and select the wanted columns 
ls = list(bp_ec_countries.columns)
columns=['Exajoules',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 '2019_year', 
 '2019_growth_rate_per_annum',
 '2008-18',
 '2019_share']
bp_ec_countries = bp_ec_countries[columns]
bp_ec_countries

,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year,2019_growth_rate_per_annum,2008-18,2019_share
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.881791,14.031964,13.99365,13.936678,14.109482,14.349534,14.214058,-0.00944118,0.00640355,0.0243434
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.738309,7.697182,7.68830,7.785419,7.895341,7.833322,7.720742,-0.0143718,0.00905657,0.0132227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Rename the fist and 2008-2018 column
bp_ec_countries = bp_ec_countries.rename(columns={bp_ec_countries.columns[0]: "Country",
                                                bp_ec_countries.columns[57]: "2008-2018_growth_rate_per_annum"})
bp_ec_countries

,Country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year,2019_growth_rate_per_annum,2008-2018_growth_rate_per_annum,2019_share
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
1,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,4.924317,5.239095,5.480214,5.836056,6.185953,6.624581,6.831992,7.348642,7.857612,...,13.881791,14.031964,13.99365,13.936678,14.109482,14.349534,14.214058,-0.00944118,0.00640355,0.0243434
4,Mexico,1.050253,1.111572,1.132470,1.232997,1.353689,1.444834,1.519984,1.680466,1.812695,...,7.738309,7.697182,7.68830,7.785419,7.895341,7.833322,7.720742,-0.0143718,0.00905657,0.0132227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Extracting data from my selected three countries: China, Germany, and United States

In [65]:
# Extracting China's data
# Reset index to "Country"
bp_ec_china = bp_ec_countries[bp_ec_countries["Country"]=="China"]
bp_ec_china.set_index("Country", inplace=True)
bp_ec_china.head()

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year,2019_growth_rate_per_annum,2008-2018_growth_rate_per_annum,2019_share
Country,,,,,,,,,,,,,,,,,,,,,
China,5.516043,5.995001,5.391341,5.44535,6.627664,8.486606,10.061689,10.846553,11.449056,11.805455,...,121.374657,124.197933,125.376891,126.950737,130.831734,135.770697,141.699218,0.0436657,0.0380661,0.242678

In [66]:
# Extracting Germany's data
# Reset index to "Country"
bp_ec_germany = bp_ec_countries[bp_ec_countries["Country"]=="Germany"]
bp_ec_germany.set_index("Country", inplace=True)
bp_ec_germany.head()

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year,2019_growth_rate_per_annum,2008-2018_growth_rate_per_annum,2019_share
Country,,,,,,,,,,,,,,,,,,,,,
Germany,10.678971,10.705835,10.678946,11.402203,12.301292,12.985578,13.105294,13.560714,14.340475,14.088804,...,13.745959,13.166279,13.399858,13.619723,13.783983,13.439342,13.1399,-0.022281,-0.00427953,0.0225037

In [67]:
# Extracting USA's data
# Reset index to "Country"
bp_ec_usa = bp_ec_countries[bp_ec_countries["Country"]=="US"]
bp_ec_usa.set_index("Country", inplace=True)
bp_ec_usa.head()

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year,2019_growth_rate_per_annum,2008-2018_growth_rate_per_annum,2019_share
Country,,,,,,,,,,,,,,,,,,,,,
US,52.433795,55.383038,57.311776,60.799094,64.049612,66.215508,67.591944,71.06433,73.984875,72.120946,...,92.09548,93.054168,92.149004,92.017799,92.330525,95.602919,94.648804,-0.00997998,0.00105439,0.162098

### Data 2 (2): bp.com Dataset on Renewables Consumption (Exajoules)

In [69]:
# Extract wanted columns
bp_rc_countries = bp_rc_rename.copy()
bp_rc_countries.head()

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2019,2008-18,2019,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.437742,0.488314,0.492008,0.503491,0.523399,0.0395406,0.134528,0.0180629,NaN,NaN
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.157067,0.170452,0.184147,0.216463,0.345292,0.595155,0.102784,0.0119163,NaN,NaN

In [70]:
# Renaming the same name columns (2019) by creating specific name columns and duplicating the according data row
bp_rc_countries ["2019_share"] = bp_rc_countries.iloc [:,58]
bp_rc_countries ["2019_growth_rate_per_annum"] = bp_rc_countries.iloc [:,56]
bp_rc_countries ["2019_year"] = bp_rc_countries.iloc[:,55]
bp_rc_countries

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2018.0,2019.0,2019,2008-18,2019,NaN,NaN,2019_share,2019_growth_rate_per_annum,2019_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Growth rate per annum,NaN,Share,NaN,NaN,Share,Growth rate per annum,NaN
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2018.000000,2019.000000,2019,2008-18,2019,NaN,NaN,2019,2019,2019.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.503491,0.523399,0.0395406,0.134528,0.0180629,NaN,NaN,0.0180629,0.0395406,0.523399
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.216463,0.345292,0.595155,0.102784,0.0119163,NaN,NaN,0.0119163,0.595155,0.345292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,♦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# # Get a list of the column names and select the wanted columns 
rc_ls = list(bp_rc_countries.columns)
rc_columns=[
'Exajoules (input-equivalent)',
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
'2019_year',
'2019_growth_rate_per_annum',
 '2008-18',
 '2019_share'
]
bp_rc_countries = bp_rc_countries[rc_columns]
bp_rc_countries

,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year,2019_growth_rate_per_annum,2008-18,2019_share
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399,0.0395406,0.134528,0.0180629
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292,0.595155,0.102784,0.0119163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,♦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Rename the fist and 2008-2018 column
bp_rc_countries = bp_rc_countries.rename(columns={bp_rc_countries.columns[0]: "Country",
                                                bp_rc_countries.columns[57]: "2008-2018_growth_rate_per_annum"})
bp_rc_countries

,Country,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year,2019_growth_rate_per_annum,2008-2018_growth_rate_per_annum,2019_share
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
1,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.00000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2019,2008-18,2019
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.290927,0.303300,0.437742,0.488314,0.492008,0.503491,0.523399,0.0395406,0.134528,0.0180629
4,Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00161,...,0.111551,0.133273,0.157067,0.170452,0.184147,0.216463,0.345292,0.595155,0.102784,0.0119163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,♦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,n/a not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"USSR includesCIS, Georgia, Ukraine and the Bal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,"# Excludes Estonia, Latvia and Lithuania pri...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Annual changes and share of total are calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Extracting data from my selected three countries: China, Germany, and United States

In [265]:
# Extracting China's data
# Reset index to "Country"
# Rearrange display method
bp_rc_china = bp_rc_countries[bp_rc_countries["Country"]=="China"]
bp_rc_china.reset_index(inplace=True)
bp_rc_china = bp_rc_china.T
bp_rc_china.head()

             0
index       91
Country  China
1965.0       0
1966.0       0
1967.0       0

In [266]:
bp_rc_china.reset_index(inplace=True)
bp_rc_china.head()

     index      0
0    index     91
1  Country  China
2     1965      0
3     1966      0
4     1967      0

In [267]:
bp_rc_china = bp_rc_china.drop([0,1])
bp_rc_china = bp_rc_china.rename(columns={"index":"Year",
                                        0:"Exajoules (input-equivalent)"})
bp_rc_china.head()

   Year Exajoules (input-equivalent)
2  1965                            0
3  1966                            0
4  1967                            0
5  1968                            0
6  1969                            0

In [268]:
len(bp_rc_china)

58

In [269]:
china_name = ["China"] * 58
bp_rc_china["Country"] = china_name
bp_rc_china.reset_index(inplace=True)
bp_rc_china

,index,Year,Exajoules (input-equivalent),Country
0,2,1965,0,China
1,3,1966,0,China
2,4,1967,0,China
3,5,1968,0,China
4,6,1969,0,China
5,7,1970,0,China
6,8,1971,0,China
7,9,1972,0,China
8,10,1973,0,China
9,11,1974,0,China
10,12,1975,0,China
11,13,1976,0,China
12,14,1977,0,China
13,15,1978,0,China
14,16,1979,0,China
15,17,1980,0,China
16,18,1981,0,China
17,19,1982,0,China
18,20,1983,0,China
19,21,1984,0,China
20,22,1985,0,China
21,23,1986,0,China
22,24,1987,0,China
23,25,1988,0,China
24,26,1989,0,China
25,27,1990,0.000680202,China
26,28,1991,0.000750909,China
27,29,1992,0.00247313,China
28,30,1993,0.00333121,China
29,31,1994,0.00848838,China
30,32,1995,0.0363716,China
31,33,1996,0.0163594,China
32,34,1997,0.0293098,China
33,35,1998,0.0284956,China
34,36,1999,0.0301074,China
35,37,2000,0.031489,China
36,38,2001,0.0330179,China
37,39,2002,0.0354712,China
38,40,2003,0.0411014,China
39,41,2004,0.0578304,China
40,42,2005,0.101235,China
41,43,2006,0.143089,China
42,44,2007,0.19672,China
43,45,2008,0.326148,China
44,46,2009,0.524563,China
45,47,2010,0.768617,China
46,48,2011,1.0496,China
47,49,2012,1.35639,China
48,50,2013,1.79591,China
49,51,2014,2.23841,China
50,52,2015,2.62355,China
51,53,2016,3.43967,China
52,54,2017,4.61489,China
53,55,2018,5.80511,China
54,56,2019_year,6.62756,China
55,57,2019_growth_rate_per_annum,0.141678,China
56,58,2008-2018_growth_rate_per_annum,0.333643,China
57,59,2019_share,0.228722,China

In [270]:
del bp_rc_china["index"]
bp_rc_china.set_index("Country", inplace=True)
bp_rc_china

                                    Year Exajoules (input-equivalent)
Country
China                               1965                            0
China                               1966                            0
China                               1967                            0
China                               1968                            0
China                               1969                            0
China                               1970                            0
China                               1971                            0
China                               1972                            0
China                               1973                            0
China                               1974                            0
China                               1975                            0
China                               1976                            0
China                               1977                            0
China                               1978                            0
China                               1979                            0
China                               1980                            0
China                               1981                            0
China                               1982                            0
China                               1983                            0
China                               1984                            0
China                               1985                            0
China                               1986                            0
China                               1987                            0
China                               1988                            0
China                               1989                            0
China                               1990                  0.000680202
China                               1991                  0.000750909
China                               1992                   0.00247313
China                               1993                   0.00333121
China                               1994                   0.00848838
China                               1995                    0.0363716
China                               1996                    0.0163594
China                               1997                    0.0293098
China                               1998                    0.0284956
China                               1999                    0.0301074
China                               2000                     0.031489
China                               2001                    0.0330179
China                               2002                    0.0354712
China                               2003                    0.0411014
China                               2004                    0.0578304
China                               2005                     0.101235
China                               2006                     0.143089
China                               2007                      0.19672
China                               2008                     0.326148
China                               2009                     0.524563
China                               2010                     0.768617
China                               2011                       1.0496
China                               2012                      1.35639
China                               2013                      1.79591
China                               2014                      2.23841
China                               2015                      2.62355
China                               2016                      3.43967
China                               2017                      4.61489
China                               2018                      5.80511
China                          2019_year                      6.62756
China         2019_growth_rate_per_annum                     0.141678
China    2008-2018_growth_rate_per_annum                     0.333643
China                         2019_share                     0.228722

In [76]:
# Extracting Germany's data
# Reset index to "Country"
bp_rc_germany = bp_rc_countries[bp_rc_countries["Country"]=="Germany"]
bp_rc_germany.set_index("Country", inplace=True)
bp_rc_germany.head()

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year,2019_growth_rate_per_annum,2008-2018_growth_rate_per_annum,2019_share
Country,,,,,,,,,,,,,,,,,,,,,
Germany,0.0,0.0,0.0,0.0,0.0,0.0092,0.01001,0.010187,0.010531,0.010762,...,1.306625,1.429576,1.659036,1.643934,1.880427,1.969729,2.117454,0.0749974,0.0933409,0.073075

In [77]:
# Extracting USA's data
# Reset index to "Country"
bp_rc_usa = bp_rc_countries[bp_rc_countries["Country"]=="US"]
bp_rc_usa.set_index("Country", inplace=True)
bp_rc_usa.head()

,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019_year,2019_growth_rate_per_annum,2008-2018_growth_rate_per_annum,2019_share
Country,,,,,,,,,,,,,,,,,,,,,
US,0.133322,0.14062,0.140736,0.15546,0.162271,0.162359,0.165844,0.18673,0.199897,0.204043,...,3.756286,4.03929,4.248825,4.807667,5.239283,5.503936,5.828555,0.0589795,0.100751,0.201148

### Data 3: wesr.unep.org Dataset on GHG Emission

In [103]:
# Get the column names and rearrange them 
unep_df_countries = unep_df.copy()
col_list = list(unep_df_countries.columns)
new_col = ['COUNTRY NAME','INDICATOR NAME (unit)', 'YEAR', 'VALUE']
unep_df_countries = unep_df_countries[new_col]
unep_df_countries

,COUNTRY NAME,INDICATOR NAME (unit),YEAR,VALUE
0,China,Greenhouse gas (GHG) emissions from agricultur...,1961,254109.75
1,China,Greenhouse gas (GHG) emissions from agricultur...,1962,256115.15
2,China,Greenhouse gas (GHG) emissions from agricultur...,1963,267398.78
3,China,Greenhouse gas (GHG) emissions from agricultur...,1964,288531.02
4,China,Greenhouse gas (GHG) emissions from agricultur...,1965,301524.32
...,...,...,...,...
383,China,"Greenhouse gas (GHG) emissions, total (metric ...",2011,12234.29
384,China,"Greenhouse gas (GHG) emissions, total (metric ...",2012,12488.24
385,China,"Greenhouse gas (GHG) emissions, total (metric ...",2013,12982.92
386,China,"Greenhouse gas (GHG) emissions, total (metric ...",2014,13113.21
387,China,"Greenhouse gas (GHG) emissions, total (metric ...",2015,13067.69

#### Extracting data from the selected year of 2030 and 2050

In [99]:
# Choose the goal year 2030
# Reset index to "COUNTRY NAME"
unep_df_2030 = unep_df_countries[unep_df_countries["YEAR"]== "2030"]
unep_df_2030.set_index("COUNTRY NAME", inplace=True)
unep_df_2030

,INDICATOR NAME (unit),YEAR,VALUE
COUNTRY NAME,,,
China,Greenhouse gas (GHG) emissions from agricultur...,2030,811210.50
United States of America,Greenhouse gas (GHG) emissions from agricultur...,2030,361695.80
Germany,Greenhouse gas (GHG) emissions from agricultur...,2030,57838.37

In [102]:
# Choose the goal year 2050
# Drop duplicate country
# Reset index to "COUNTRY NAME"
unep_df_2050 = unep_df_countries[unep_df_countries["YEAR"]== "2050"].copy()
unep_df_2050.drop_duplicates("COUNTRY NAME", inplace=True)
unep_df_2050.set_index("COUNTRY NAME", inplace=True)
unep_df_2050

,INDICATOR NAME (unit),YEAR,VALUE
COUNTRY NAME,,,
China,Greenhouse gas (GHG) emissions from agricultur...,2050,875477.40
United States of America,Greenhouse gas (GHG) emissions from agricultur...,2050,366640.75
Germany,Greenhouse gas (GHG) emissions from agricultur...,2050,55460.54

 ### Data 4: eia.gov API Dataset on CO2 Emission, Renewable Electricity Net Generation, & Population

#### China

In [139]:
# Locate the wanted data from the json format output
co2_china = co2_response["series"][0]["data"]
len(co2_china)

39

In [173]:
# Create a list of number for the range of the data
# Create keys to hold the year and emission values
# Loop through the list of data to append the needed info list
range_numbers = [*range(0, 39, 1)]

co2_china_year = []
co2_china_emission = []
country_name = []

for number in range_numbers:
    list_set = co2_response["series"][0]["data"][number]
    year = list_set[0]
    emission = list_set[1]
    name = "China"
    co2_china_year.append(year)
    co2_china_emission.append(emission)
    country_name.append(name)

In [174]:
# Create a data frame to hold the keys
co2_china_emission_dic = {
    "Country":country_name,
    "Year":co2_china_year,
    "Emission":co2_china_emission
}

In [179]:
# Create a data frame
# Change it to ascending order
# Reset index to "Country"
china_co2_info_df = pd.DataFrame(co2_china_emission_dic)
china_co2_info_df = china_co2_info_df.sort_values(by="Year", ascending=True)
china_co2_info_df.set_index("Country", inplace=True)
china_co2_info_df

         Year      Emission
Country
China    1980   1595.966030
China    1981   1586.506160
China    1982   1670.253074
China    1983   1784.999566
China    1984   1947.119365
China    1985   2060.287085
China    1986   2133.759257
China    1987   2256.899253
China    1988   2404.819506
China    1989   2399.396016
China    1990   2625.623739
China    1991   2444.874872
China    1992   2526.379197
China    1993   2719.521147
China    1994   2905.818629
China    1995   3134.267650
China    1996   3229.265188
China    1997   3127.282459
China    1998   3119.938573
China    1999   3245.106305
China    2000   3478.182055
China    2001   3610.064948
China    2002   3852.813340
China    2003   4461.766682
China    2004   5399.893000
China    2005   6128.164339
China    2006   6765.275749
China    2007   7064.571039
China    2008   7511.311382
China    2009   8191.334982
China    2010   8823.472431
China    2011   9783.475663
China    2012  10359.851466
China    2013  10728.738198
China    2014  10648.294609
China    2015  10457.195827
China    2016  10433.034096
China    2017  10431.664013
China    2018  10633.716109